@keyframes avatarAnim {
  0% {
    transform: scale(0) rotate(40deg) translate(-50%, -50%);
  }
  3% {
    transform: scale(1.2) rotate(-40deg) translate(-50%, -50%);
  }
  6% {
    transform: scale(1) rotate(0deg) translate(-50%, -50%);
  }
  17% {
    transform: scale(1) rotate(0deg) translate(-50%, -50%);
  }
  25% {
    transform: scale(1) rotate(0deg) translate(-70%, -50%) skew(0deg, 3deg);
  }
  35% {
    transform: scale(1) rotate(0deg) translate(-70%, -50%) skew(0deg, 3deg);
  }
  50% {
    transform: scale(1) rotate(0deg) translate(-30%, -50%) skew(-3deg, 0deg);
  }
  58% {
    transform: scale(1) rotate(0deg) translate(-30%, -50%) skew(-3deg, 0deg);
  }
  70% {
    transform: scale(1) rotate(0deg) translate(-50%, -50%) skew(0deg, 0deg);
  }
  94% {
    transform: scale(1) rotate(0deg) translate(-50%, -50%);
  }
  97% {
    transform: scale(1.2) rotate(-40deg) translate(-50%, -50%);
  }
  100% {
    transform: scale(0) rotate(40deg) translate(-50%, -50%);
  }
}

.avatar {
  transform-origin: top left;
  transform: scale(0) translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
  transition-property: background-color;
  transition-duration: 500ms;
  animation-name: avatarAnim;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.avatar:hover {
  background-color: var(--color-main-accent);
  cursor: none;
}

@keyframes eyeAnim {
  0% {
    transform: translate(0%, 0);
  }
  3.75% {
    transform: translate(-18.75%, 20%);
  }
  7.5% {
    transform: translate(-37.5%, 30%);
  }
  11.25% {
    transform: translate(-56.25%, 20%);
  }
  15% {
    transform: translate(-75%, -30%);
  }
  30% {
    transform: translate(-75%, -30%);
  }
  37.5% {
    transform: translate(-37.5%, 20%);
  }
  45% {
    transform: translate(0%, 30%);
  }
  50% {
    transform: translate(37.5%, 20%);
  }
  57% {
    transform: translate(75%, -30%);
  }
  70% {
    transform: translate(75%, -30%);
  }
  75% {
    transform: translate(56.25%, 20%);
  }
  78% {
    transform: translate(37.5%, 30%);
  }
  80% {
    transform: translate(18.75%, 20%);
  }
  95% {
    transform: translate(0%, -100%);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0);
    opacity: 0;
  }
}

.eyes {
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: var(--color-white);
  animation: 2.8s eyeAnim 0.8s cubic-bezier(0, 0, 0.2, 1) forwards;
}

.eyes-left {
  left: calc(var(--spacing) * 5);
}

.eyes-right {
  right: calc(var(--spacing) * 5);
}

.eyes-top {
  bottom: calc(var(--spacing) * 14);
}

.eyes-bottom {
  bottom: calc(var(--spacing) * 6);
}

@keyframes smilingEyesAnim {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
    transform: translate(0%, -60%);
  }
  60% {
    opacity: 0.8;
    transform: translate(0%, 20%);
  }
  /* 80% {
    opacity: 1;
    transform: translate(0%, -30%);
  }
  90% {
    opacity: 1;
    transform: translate(0%, 10%);
  } */
  90% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0);
  }
}

.smiling-eyes {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  opacity: 0;
  position: absolute;
  font-size: 2.25rem;
  animation: 1s smilingEyesAnim 3.5s cubic-bezier(0, 0, 0.2, 1) forwards;
}

.smiling-eye-left {
  left: calc(var(--spacing) * 5);
  bottom: calc(var(--spacing) * 14);
}

.smiling-eye-right {
  right: calc(var(--spacing) * 5);
  bottom: calc(var(--spacing) * 14);
}
