.avatar {
  --scale-factor: 0.35;
  transform-origin: top left;
  width: calc(8rem * var(--scale-factor));
  height: calc(8rem * var(--scale-factor));
  border-radius: 9999px;
}

.smiling-eyes {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  position: absolute;
  font-size: 1rem;
  transition-property: opacity;
  transition-duration: 200ms;
}

.smiling-eye-left {
  left: calc(var(--spacing) * 2);
  bottom: calc(var(--spacing) * 3);
}

.smiling-eye-right {
  right: calc(var(--spacing) * 2);
  bottom: calc(var(--spacing) * 3);
}

.eyes {
  width: calc(1rem * var(--scale-factor));
  height: calc(1rem * var(--scale-factor));
  position: absolute;
  background-color: var(--color-white);
  transition-property: width, height, opacity;
  transition-duration: 200ms;
}

.eyes-left {
  left: calc(var(--spacing) * 5 * var(--scale-factor));
}

.eyes-right {
  right: calc(var(--spacing) * 5 * var(--scale-factor));
}

.eyes-top {
  bottom: calc(var(--spacing) * 14 * var(--scale-factor));
}

.eyes-bottom {
  bottom: calc(var(--spacing) * 6 * var(--scale-factor));
}

.greeting-active .eyes-top {
  width: calc(2rem * var(--scale-factor));
  height: calc(0.5rem * var(--scale-factor));
}

.greeting-active .eye-tl {
  left: calc(var(--spacing) * 4 * var(--scale-factor));
}

.greeting-active .eye-tr {
  right: calc(var(--spacing) * 4 * var(--scale-factor));
}

.greeting-active .eyes-bottom {
  opacity: 0;
}

.greeting-enter {
  opacity: 0;
  animation: greetingFadeIn 100ms both;
}

@keyframes greetingFadeIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.greeting-leave {
  opacity: 1;
  animation: greetingFadeOut 200ms both;
}

@keyframes greetingFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20%);
  }
}

.greeting-label {
  position: relative;
}

.greeting-label::before {
  content: '';
  position: absolute;
  inset: -0.25rem -0.4rem;
  background: var(--main-base);
  filter: blur(4px);
  z-index: -1;
}
