<div
  class="avatar relative bg-main-accent cursor-pointer"
  (mouseenter)="onAvatarMouseEnter()"
  (mouseleave)="onAvatarMouseLeave()"
  [class.greeting-active]="showAvatarGreeting() !== -1"
>
  @for (greeting of greetings; track $index) {
    @if (showAvatarGreeting() === $index) {
      <div
        class="absolute -left-10 -translate-x-full translate-y-1/2 pointer-events-none"
        animate.enter="greeting-enter"
        animate.leave="greeting-leave"
      >
        <span
          class="greeting-label whitespace-nowrap text-main-accent inline-block"
          [style.transform]="'rotate(' + randomGreetingRotation() + 'deg)'"
        >
          {{ greeting }}
        </span>
      </div>
    }
  }

  <div
    class="eyes eyes-left eyes-bottom eye-bl"
    [class.opacity-0]="avatarMoodData() === 'happy'"
  ></div>
  <div
    class="eyes eyes-right eyes-bottom eye-br"
    [class.opacity-0]="avatarMoodData() === 'happy'"
  ></div>
  <div
    class="eyes eyes-left eyes-top eye-tl"
    [class.opacity-0]="avatarMoodData() === 'happy'"
  ></div>
  <div
    class="eyes eyes-right eyes-top eye-tr"
    [class.opacity-0]="avatarMoodData() === 'happy'"
  ></div>
  <p class="smiling-eyes smiling-eye-left" [class.opacity-0]="avatarMoodData() === 'neutral'">^</p>
  <p class="smiling-eyes smiling-eye-right" [class.opacity-0]="avatarMoodData() === 'neutral'">^</p>
</div>
