.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: var(--main-base);
}

.loader-leave {
  animation: loaderFadeOut 500ms ease forwards;
}

@keyframes loaderFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
