@import 'tailwindcss';

@theme {
  --color-main-accent: #7d97cf;
}

:root {
  --main-base: #f0f0f0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  background-color: var(--main-base);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--main-base);
}
