<footer class="px-16 py-16 max-sm:px-6">
  <ul
    class="mx-auto flex max-w-3xl list-disc flex-col gap-1 max-md:pl-2 text-md font-medium leading-5 text-black/50"
  >
    <li>
      Though most of this was built by me, I did
      <span class="line-through">blatantly rip off</span>
      <i> get inspired by </i>
      the design of the peripheral links/email bars from
      <a
        class="link"
        href="https://v4.brittanychiang.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        another developer's personal website</a
      >
      that I found really cool.
    </li>
    <li>
      Did you know that the scientific name of the Western lowland gorilla is "gorilla gorilla
      gorilla"?
      <a
        class="link"
        href="https://en.wikipedia.org/wiki/List_of_triple_tautonyms"
        target="_blank"
        rel="noopener noreferrer"
      >
        More amusing names here</a
      >.
    </li>
    <li class="max-md:hidden">Can you make the avatar on the navbar smile?</li>
    <li>
      Built using Angular (with @angular/ssr) and Tailwind.
      <a
        class="gap-2 inline items-center link"
        href="https://github.com/nithinrdy/nithinrdy.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span
          >Source is public (not that this mediocre website is worth any attention... unless...
          nah... but what if... no... but maybe...)</span
        ></a
      >.
    </li>
  </ul>
</footer>
