<div
  class="widescreen-styles flex flex-col items-center justify-between fixed bottom-1 left-4 gap-0 opacity-0 max-lg:hidden"
  [class.is-shown]="isShown"
>
  @for (link of links; track link.id) {
    <a
      [href]="link.url"
      [attr.aria-label]="link.id"
      target="_blank"
      rel="noopener"
      class="inline-block hover:-translate-y-1 hover:text-main-accent hover:cursor-none transition-all duration-300"
      (mouseenter)="setAvatarMood('happy')"
      (mouseleave)="setAvatarMood('neutral')"
    >
      <i class="bi bi-{{ link.id }} text-[32px]"></i>
    </a>
  }

  <!-- hashnode link -->
  <a
    href="https://nithinrdy.hashnode.dev"
    aria-label="hashnode"
    target="_blank"
    rel="noopener"
    class="inline-block hover:-translate-y-1 hover:text-main-accent hover:cursor-none transition-all duration-300 pt-[4px] pb-[12px]"
    (mouseenter)="setAvatarMood('happy')"
    (mouseleave)="setAvatarMood('neutral')"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 39" class="h-[32px] w-[32px]">
      <path
        fill="currentColor"
        d="M2.68 13.032c-3.573 3.505-3.573 9.363 0 12.936L13.032 36.32c3.505 3.573 9.363 3.573 12.936 0L36.32 25.968c3.573-3.573 3.573-9.431 0-12.936L25.968 2.68c-3.573-3.573-9.431-3.573-12.936 0zm12.211 1.935c2.507-2.521 6.582-2.544 9.104-.038s2.544 6.582.038 9.104-6.582 2.544-9.104.038-2.544-6.582-.038-9.104"
      />
    </svg>
  </a>

  <div class="h-52 w-0.5 border border-black bg-black"></div>
</div>
